<nav>
    <div class="site-title">
        <a href="/"><h1>MusicJunkie Blog</h1></a>
        <p>MusicJunkie Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create New Blog</a></li>
    </ul>
</nav>