<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi animi reiciendis rem mollitia, eum odio ullam provident ut nulla, aperiam facere voluptatibus aliquid, non soluta eaque a consequatur. Consequatur, debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi animi reiciendis rem mollitia, eum odio ullam provident ut nulla, aperiam facere voluptatibus aliquid, non soluta eaque a consequatur. Consequatur, debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi animi reiciendis rem mollitia, eum odio ullam provident ut nulla, aperiam facere voluptatibus aliquid, non soluta eaque a consequatur. Consequatur, debitis.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>